<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_workbench_single_manager" pkg="dynamixel_workbench_single_manager" type="dynamixel_workbench_single_manager" required="true" output="screen">
        <!-- <rosparam file="$(find dynamixel_workbench_monitor)/param/dynamixel.yaml" command="load"/> -->
        <rosparam>
          device_name_: "/dev/ttyUSB0"
          baud_rate_: 57600
          protocol_version_: 1.0
        </rosparam>
    </node>
</launch>
