<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_workbench_single_manager" pkg="dynamixel_workbench_single_manager" type="dynamixel_workbench_single_manager" required="true" output="screen">
        <rosparam>
          device_name_: "/dev/ttyUSB0"
          baud_rate_: 1000000
        </rosparam>
    </node>
</launch>
