<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_workbench_velocity_controllers" pkg="dynamixel_workbench_controllers" type="dynamixel_workbench_velocity_control" required="true" output="screen">
        <!-- <rosparam file="$(find dynamixel_workbench_monitor)/param/dynamixel.yaml" command="load"/> -->
        <rosparam>
          device_name_: "/dev/ttyUSB0"
          baud_rate_: 1000000
          motor_model_: "XM430_W210_R"
          protocol_version_: 2.0
          pan_motor_:
            motor_id_: 11
          tilt_motor_:
            motor_id_: 12
        </rosparam>
    </node>
</launch>
