<launch>
  <node name="dynamixel_workbench_torque_controllers" pkg="dynamixel_workbench_controllers" type="dynamixel_workbench_torque_control" required="true" output="screen">
    <rosparam>
      device_name: "/dev/ttyUSB0"
      baud_rate: 1000000
      motor_model: "XM430_W350"
      protocol_version: 2.0
      p_gain: 0.0009
      d_gain: 0.00001
      pan_motor:
        motor_id: 1
      tilt_motor:
        motor_id: 2
    </rosparam>
  </node>
</launch>
