<launch>
  <node name="dynamixel_workbench_potision_controllers" pkg="dynamixel_workbench_controllers" type="dynamixel_workbench_position_control" required="true" output="screen">
    <rosparam>
      device_name: "/dev/ttyUSB0"
      baud_rate: 1000000
      motor_model: "XM430_W210"
      protocol_version: 2.0
      profile_velocity: 100
      profile_acceleration: 10
      pan_motor:
        motor_id: 1
      tilt_motor:
        motor_id: 2
    </rosparam>
  </node>
</launch>
