<launch>

  <arg name="port_name" default="/dev/ttyUSB0" />
  <arg name="baud_rate" default="57600" />

  <include file="$(find dynamixel_general_hw)/launch/dynamixel_general_control.launch">
    <arg name="port_name" value="$(arg port_name)" />
    <arg name="baud_rate" value="$(arg baud_rate)" />
    <arg name="namespace" value="sample_robot" />
    <arg name="robot_description_file" value="$(find dynamixel_general_hw)/urdf/sample6.urdf" />
    <arg name="dynamixel_info_file" value="$(find dynamixel_general_hw)/config/sample6/dynamixel_info.yaml" />
    <arg name="controllers_file" value="$(find dynamixel_general_hw)/config/sample6/default_controllers.yaml" />
    <arg name="controllers_to_start" value="joint_state_controller position_joint_trajectory_controller joint_group_effort_controller" />
    <arg name="launch_rviz" value="true" />
    <arg name="rvizconfig" value="$(find dynamixel_general_hw)/config/sample_robot.rviz" />
  </include>

  <!--
    Change initial effort limit from zero to maximum effort defined in URDF
    to make actuator drivable from the beginning
  -->
  <group ns="sample_robot">
    <node pkg="rostopic" type="rostopic" name="set_initial_effort_limit"
          args="pub joint_group_effort_controller/command std_msgs/Float64MultiArray
                '{layout: {dim: [], data_offset: 0}, data: [0.92]}'"
          output="screen"/>
  </group>

</launch>
